@import url('https://fonts.googleapis.com/css?family=Pacifico');

.inital_page_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  background-image: url("../images/office.jpeg");
  background-size: cover;
  background-repeat: no-repeat;

}

.inital_description {
  width: 400px;
  margin: 20px 30px 30px 20px;
  height:550px;
  background-color: white;
  opacity: 0.8;
  font-family: Pacifico;
  letter-spacing: 10px;
  font-size: 70px;
}

.wrapper {
  display: flex;
  background-image: url("../images/desk.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;

}
.parent {
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-picture {
  height: 100%;

}

.main-header{
  align-self:center;
  letter-spacing: 20px;
  font-size: 50px;
  font-weight: 100;
  font-style: italic;
  font-family: 'Pacifico', cursive;
  margin: 15px 15px 15px 15px;
}
