@import url('https://fonts.googleapis.com/css?family=Asap');


.wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;

}
.parent {
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.main-header{
  align-self:center;
  font-size: 50px;
  font-family: 'Asap', sans-serif;
  margin: 25px 25px 25px 25px;
}
