@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Abel|Playfair+Display');

.step_button {

  font-family: 'Abel', sans-serif;
  display:flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-size: 20px;
  width:100px;
  background-color: #81b731;
  width:100px;

}

.inital_page_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  background-image: url("../images/iteration2_landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.prev_button {

  margin-right: 250px;
  margin-left: 100px;
}


.next_button {
  margin-left: 420px;

}
.step-control-wrapper {

  height: 50px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 129px;
  margin-bottom: 20px;


}


#title {
  display: flex;
  flex-direction: column;
  opacity: 0.8;
  margin-right: 200px;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-family: 'Abel', sans-serif;
  width: 400px;
  height: 275px;
  background-color: white;

}

.inital_description {
 display: flex;
 flex-direction: column;
 margin-right: 150px;
 margin-top: 100px;
  width: 375px;
  height:450px;
  opacity: 0.8;
  align-items: flex-start;
  justify-content: center;
  font-size: 70px;
  font-family: 'Abel', sans-serif;

}


.step {
  font-size: 65px;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.step_description {
  margin-top: -10px;
  font-size: 20px;
  margin-left: 90px;
  margin-right: 20px;

}
.company-motto {

  font-size: 19px;
  letter-spacing: 6px;

}

.wrapper {
  display: flex;
  background-image: url("../images/iteration2_application.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  margin-top: 20px;

}
.parent {
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-picture {
  height: 100%;
}

.start-button {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height:40px;
  background-color: #81b731;
  font-size: 20px;
  text-decoration: none;

}

.main-header{
  align-self:center;
  font-size: 70px;
  opacity: 0.7;

  font-weight: 670;
  font-family: 'Abel', sans-serif;
  margin: 25px 15px 15px 15px;
}
