@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Abel|Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Righteous');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Righteous');

.step_button {

  font-family: 'Abel', sans-serif;
  display:flex;
  align-items: center;
  height: 30px;
  justify-content: center;
  font-size: 20px;
  width:100px;
  background-color: #81b731;
  width:100px;

}

.inital_page_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1000px;
  background-image: url("../images/iteration2_landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;

}

.prev_button {

}

.next_button {

  margin-right: 70px;

}
.step-control-wrapper {

  height: 50px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 129px;
  margin-bottom: 20px;

}


#title {
  display: flex;
  flex-direction: column;
  margin-bottom: 200px;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  font-family: 'Alfa Slab One', cursive;
  width: 400px;
  height: 275px;
  background-color: white;

}

.inital_description {
 display: flex;
 flex-direction: column;
  background-color: #3c383e;
  width: 375px;
  height:450px;
  opacity: 0.8;
  align-items: flex-start;
  justify-content: center;
  font-size: 70px;
  font-family: 'Abel', sans-serif;
}

.step {
  font-size: 65px;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.step_description {
  margin-top: -10px;
  font-size: 20px;
  margin-left: 90px;
  margin-right: 20px;

}
.company-motto {

  font-size: 19px;
  letter-spacing: 3px;
  font-family: 'Abel', sans-serif;
}

.wrapper {
  display: flex;
  width: 100%;
  background-image: url("../images/iteration2_application.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.navigation-box {

  display: flex;
  flex-direction: row;
  width: 100%;

}
.parent {
  height:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-anchor {

  text-decoration: none;

}

.welcome-picture {
  height: 100%;
}

.start-button {

  display: flex;
  justify-content: center;
  font-family: 'Abel', sans-serif;
  align-items: center;
  width: 150px;
  height:40px;
  background-color: #81b731;
  font-size: 20px;
  text-decoration: none;

}

.navigation {

  display: flex;
  padding: 20 20 20 20;
  flex-direction: row;
  justify-content: center;
  align-items: center;


}
#shopping-button {

  display: flex;
  justify-content: flex-end;
  background-color: #81b731;
  align-items: center;
  width: 120px;
  height: 40px;

}


.cart-item {

  width: 100px;
  height: 60px;
  background-color: cyan;

}

.shopping_cart {

  height: 400px;
  width: 120px;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.bag-item {

  background-color: cyan;
  height: 40px;
  width: 100px;

}

.shopping-list {

  background-color: white;
  width: 120px;
  height: 400px;

}

.step-container {

  display: flex;
  flex-direction: row;

}

.main-header{
  align-self:center;
  font-size: 70px;
  opacity: 0.7;
  font-weight: 670;
  font-family: 'Abel', sans-serif;
  margin: 25px 15px 15px 15px;
}
