.progress-container {
  display:flex;
  flex-direction: row;
  margin-left: 160px;
  width:600px;
  justify-content: space-around;
  font-size: 10px;
  background-color: white;
}

#shopping-button {

  width: 150px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  margin-left: 33px;
  background-color: #81b731;

}

.button_properties {
  display:flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  border: 5px solid #3c383e;
  font-size: 15px;
  font-family:sans-serif;
  border-radius: 50%;
  margin: 10px 10px 10px 10px;
}


.progress-text {
  font-weight: 900;
}
