.progress-container {
  display:flex;
  flex-direction: row;
  margin: 25px 25px 25px 25px;
  width:600px;
  justify-content: space-around;

  font-size: 10px;
  background-color: white;
  opacity: 0.85;
}
