.box {
  height: 500px;
  width:1000px;
  background-color: #3c383e;
  align-self: center;
  padding: 10 10 10 10;
  opacity: 0.7;
}

.step1_body {

  display:flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20 20 20 20;
}

.text-style {

  font-size: 30px;
  color: white;
  margin-top: 25px;
  margin-left: 25px;
}

.text-style-black {

  font-size: 35px;
  color: black;

}
.search-results {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-top: 25px;
  height: 500px;
  width: 900px;
  background-color: white;

}
