.box {
  height: 500px;
  width:1000px;
  background-color: #3c383e;
  align-self: center;
  padding: 10 10 10 10;
  opacity: 0.7;
}

.add-to-cart {

  height: 30px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #81b731;
  font-family: 'Abel', sans-serif;
}


.step1_body {

  display:flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20 20 20 20;
}

.text-style {

  font-size: 30px;
  color: white;
  margin-top: 25px;
  margin-left: 25px;
}

#text-style-black {

  font-size: 35px;
  margin-left: 145px;
  font-weight: 100;

}

.checkbox-item {

  margin-top: 50px;

}

.confirmation-container {

  display: flex;
  flex-direction: column;
  height: 700px;
  width: 800px;
  background-color: white;
  margin-left: 30px;

}

.company-confirmed {

  margin-left: 50px;
  margin-top: 10px;
  font-size: 20px;
  margin-bottom: 10px;

}

.filter-item {

  height: 100px;
  width: 200px;
  margin-right: 5px;
  margin-left: 25px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.filter-start-item {

  display: flex;
  align-items: center;
  height: 90px;

}

.filters {

  margin-top: 30px;
  height: 40px;
  display: flex;
  color:white;
  flex-direction: row;
  margin-left: 170px;
  align-items: center;

}

.checkbox {

  display: flex;
  justify-content: center;
  align-items: center;
  height:100px;

}
.checkbox-style {

  width: 10px;
  height: 10px;

}

#step1_table {
  margin-top: -15px;

}
.search-results {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  margin-top: 25px;
  height: 700px;
  width: 900px;
}
