.box {
  height: 500px;
  width:1000px;
  background-color: #3c383e;
  align-self: center;
  padding: 10 10 10 10;
  opacity: 0.7;
}


.confirmation-company {

  height: 45px;
  
  display: flex;
  align-items: center;
  padding: 20px 20px 20px 20px;
  background-color: #D3D3D3;
}
